<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-content></ng-content>
  <div class="container-fluid" *ngIf="bodyMessage">
    <div class="row text-justify">
      <p>{{bodyMessage}}</p>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="cancelButtonText || submitButtonText">
  <button type="button" class="btn btn-outline-secondary" *ngIf="cancelButtonText" (click)="cancelClickAction()">{{cancelButtonText}}</button>
  <button type="button" class="btn btn-outline-primary" *ngIf="submitButtonText" (click)="submitClickAction()">{{submitButtonText}}</button>
</div>